<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Design meets research</h1>
        <p>User-centered “Graphic” Design en de nexus onderwijs onderzoek</p>
      </header>
      <p>Grafische en Digitale Media is een opleiding met focus op het “maken” van media. Dat grafische media visueel aantrekkelijk en esthetisch verzorgd tot zelfs uitmuntend moeten zijn, is met het overaanbod aan communicatie een evidentie. Dat we als opleiding in de industriële wetenschappen en technologie ook de technische en technologische aspecten van mediaproductie ten volle beheersen, is niet meer dan normaal en is zelfs wat onze opleiding onderscheidt van kunst- en communicatieopleidingen. Echter, drukklare bestanden voor de meest geavanceerde print productie, volwaardige web toepassingen en technisch hoogstaande apps worden vandaag de dag slechts beschouwd als een “olympisch minimum”. Grafische media die niet aan deze twee voorwaarden voldoen, zijn gedoemd om te verdwijnen in het overaanbod.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/HCD-beeld.png" alt="humancentereddesign" />
    </span>
  </section>
