<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Design meets research</h1>
        <p>User-centered “Graphic” Design en de nexus onderwijs onderzoek</p>
      </header>
      <p>De wereld is momenteel in transitie. Digitale media zijn bronnen van disruptie die bestaande modellen en structuren overhoop gooien. Om in die veranderende wereld blijvend betekenisvolle oplossingen voor problemen te kunnen produceren zijn we meer dan ooit genoodzaakt de mens/gebruiker centraal te zetten. Interdisciplinaire teams ontwerpen vandaag de dag nieuwe producten en diensten op maat van de gebruiker via collaboratieve processen. Deze “ontwerpmentaliteit” waarbij de gebruiker centraal staat wordt ook wel Design Thinking genoemd.</p>
      <ul class="actions">G
        <li><a href="intro" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/hackathon1.jpg" alt="humancentereddesign" />
    </span>
  </section>
