<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search 
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>
      -->
      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ '/' | absolute_url }}">Homepage</a></li>
            <li><a href="{{ 'scope.html' | absolute_url }}">Scope</a></li>
            <li><a href="#">Methodologie</a></li>
            <li>
              <span class="opener">Onderzoek</span>
              <ul>
                <li><a href="{{ 'kwalitatief.html' | absolute_url }}">Kwalitatief</a></li>
                <li><a href="{{ 'kwantitatief.html' | absolute_url }}">Kwantitatief</a></li>
              </ul>
            </li>
            <li><a href="{{ 'inzichten.html' | absolute_url }}">Inzichten</a></li>
            <li><a href="{{ 'verbetering.html' | absolute_url }}">Ideeën tot verbetering</a></li>
            <li>
              <span class="opener">Tools</span>
              <ul>
                <li><a href="#">Coming soon</a></li>
                <li><a href="#">Coming soon</a></li>
                <li><a href="#">Coming soon</a></li>
              </ul>
            </li>
            <li><a href="{{ 'team.html' | absolute_url }}">Onderzoeksteam</a></li>
            <li><a href="{{ 'generic.html' | absolute_url }}">Pagina template 1</a></li>
            <li><a href="{{ 'elements.html' | absolute_url }}">Pagina template 2</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <!-- <header class="major">
            <h2>Need inspiration?</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/HCD-beeld2.png" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article> 
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>-->
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Neem contact op</h2>
          </header>
          <p>Zin om deze oefening zelf eens toe te passen? Maar je weet nog niet helemaal goed hoe? Neem gerust contact op.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-home">{{ site.url }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; Arteveldehogeschool Gent</p>

          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><!-- <img alt="Creative Commons-Licentie" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /> --></a><br />Dit werk valt onder een <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Naamsvermelding-NietCommercieel 4.0 Internationaal-licentie</a>.
        </footer>

    </div>
  </div>
